.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*height: 100px;*/
    padding: 16px 12px;
    background-color: cadetblue;
    gap: 12px;
    max-width: 600px;
    /*align-items: center;*/
}

.flex-item {
    flex: 0 1 100px;
    /*line-height: 1;*/
    text-align: center;
    /*margin: auto;*/
}

.flex-item:nth-child(odd){
    background-color: aqua;
}
.flex-item:nth-child(even){
    background-color: beige;
}
